.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Pacifico", cursive;
  height: 14vh;
}

.header-hr {
  border: 2px solid black;
  background-color: black;
  width: 80%;
}
